
<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
           <div class="gene-card-title">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                 <div fxLayout="column">
                    <h4>{{'Request for Inspection'|translate}}</h4>
     
                 </div> <span fxFlex></span>
                 
                 <div fxLayout="column">
                    <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialog()">{{'Add Request'|translate}}</button>
                 </div> 
              </div>
             
              <br/>
              <div fxLayout="row" fxLayoutAlign="center center">
               <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="state('draft')">{{'draft'|translate}}</button>
               <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="state('waiting')">{{'waiting'|translate}}</button>
               <button class="mrgn-b-xs" mat-raised-button color="accent" (click)="state('accepted')">{{'accepted'|translate}}</button>
               <button class="mrgn-b-xs" mat-raised-button color="accent" (click)="state('accepted-with-comment')">{{'accepted-with-comment'|translate}}</button>
               <button class="mrgn-b-xs" mat-raised-button color="warn" (click)="state('rejected')">{{'rejected'|translate}}</button>
               <button class="mrgn-b-xs" mat-raised-button color="warn" (click)="state('reject-resend')">{{'reject-resend'|translate}}</button>
              </div>
              <br/>
              
              <mat-divider></mat-divider>
           </div>
           <div class="gene-card-content pad-t-none">
              <div class="table-responsive">
                 <table class="table table-hover table-middle th-fw-light mb-0">
                    <thead>
                       <tr>
                          <th>{{'Request Type'|translate}}</th>
                          <th>{{'Request Number'|translate}}</th>
                           <th>{{'Location of Works'|translate}}</th>
                          <th>{{'Inspection Date'|translate}}</th>
                          <th>{{'Request Status'|translate}}</th>
                          <th>{{'Consultant Approve'|translate}}</th>                      
                          <th>{{'Controls'|translate}}</th>
                       </tr>
                    </thead>
                    <tbody *ngFor="let data of RFI_tbl ">
                       <tr *ngIf="data.state == statename | paginate: { id: 'listing_pagination',
                    itemsPerPage: 10,
                    currentPage: page,
                    totalItems: totalRec }">
                          <td>{{data.request_name}}</td>
                          <td>{{data.request_num}}</td>
                          <td>{{data.work_location}}</td>
                          <td>{{data.inspect_date}}</td>
                          <td>{{data.state | translate}}</td>
                          <td>{{data.consultant_approval | translate}}</td>
                         <td>
                           <div class="dropdown row">
                                    <button mat-icon-button matTooltip="{{'Delete'|translate}}">
                                              <mat-icon color="primary">delete</mat-icon>
                                        </button>
                                        <button mat-icon-button  (click)="rfidetails(data.id)" matTooltip="{{'Detials'|translate}}" >
                                              <mat-icon  color="primary">arrow_back</mat-icon>
                                        </button>
                               </div>
                         </td>
                       
                       </tr>
                 
                    </tbody>
                 </table>
                 <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true"
                  previousLabel="{{'Previous'|translate}}"
                   nextLabel="{{'Next'|translate}}"
                  (pageChange)="page = $event"></pagination-controls>
              </div>
           </div>
        </mat-card>
     </div>