<mat-card class="ticker-slider" dir="rtl">
    <ms-ticker-slider [sliderContent]="tickerSliderContent" [sliderConfig]="tickerSliderConfig"></ms-ticker-slider>
 </mat-card>
 <!-- ticker slider -->
 <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="crypto-dash-card" *ngIf="statsCardData">
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" *ngFor="let cardData of statsCardData">
       <ms-stats-card [statsCardData]="cardData"></ms-stats-card>
    </div>
 </div>
 <div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex.gt-sm="100" fxFlex="100">
       <div class="trade-list table-list-wrap coins-list-table">
          <mat-card>
             <div class="gene-card-title">
                <div fxLayout="row" fxLayoutAlign="start center">
                   <div fxLayout="column">
                      <h4 class="mrgn-b-none">{{'Projects List' | translate}}</h4>
                   </div>
                   <span fxFlex></span>
                   <button mat-icon-button>
                      <mat-icon>sync</mat-icon>
                   </button>
              </div>
                <mat-divider></mat-divider>
             </div>
             <div class="gene-card-content pad-b-none">
                <div class="buttongroup mrgn-b-md" fxLayout="row"  fxLayoutAlign="center">
                   <button class="mrgn-b-xs" mat-raised-button color="primary" >{{'All'|translate}}</button>
                   <button class="mrgn-b-xs" mat-raised-button color="warn" >{{'New'|translate}}</button>
                   <button class="mrgn-b-xs" mat-raised-button color="accent" >{{'Done'|translate}}</button>
                </div>
                <div class="table-responsive">
                     <table class="table table-hover table-middle th-fw-light mb-0">
                           <thead>
                              <tr>
                                 <th>{{'ID'|translate}}</th>
                                 <th>{{'Project Name'|translate}}</th>
                                 <th>{{'Consultant Name'|translate}}</th>
                                 <th>{{'Contructor Name'|translate}}</th>
                                 <th>{{'Status'|translate}}</th>
                                 <th>{{'Controls'|translate}}</th>
                               
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let data of ProjectList | paginate: { id: 'listing_pagination',
                              itemsPerPage: 10,
                              currentPage: page,
                              totalItems: totalRec }">
                                 <td>{{data.id}}</td>
                                 <td>{{data.name}}</td>
                                 <td>{{data.consultant_name}}</td>
                                 <td>{{data.contractor_name}}</td>
                                 <td>{{data.Status}}</td>
                                 <td>
                                   <button mat-icon-button color="primary" matTooltip="{{'Active Stage'|translate}}"
                                       (click)="activestage(data.id)">
                                    <mat-icon>speed</mat-icon>
                                    </button>
                                 <button mat-icon-button  color="primary"  (click)="RFI(data.id)" matTooltip="{{'Request for Inspection'|translate}}" >
                                          <mat-icon>work</mat-icon>
                                 </button>
                                 <button color="primary"  mat-icon-button matTooltip="{{'More Options'|translate}}" [matMenuTriggerFor]="menu"   >
                                    <mat-icon>arrow_drop_down</mat-icon>
                                 </button>
                                 <mat-menu #menu="matMenu">
                                  <div  *ngFor=" let list of dropList">  
                                   <button mat-menu-item (click)="Choose(list , data.id)">{{list|translate}}</button>
                                 </div>
                                 </mat-menu>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true"
                        previousLabel="{{'Previous'|translate}}"
                        nextLabel="{{'Next'|translate}}"
                         (pageChange)="page = $event"></pagination-controls>
                </div>  
               
 
             </div>
          </mat-card>
       </div>   
    </div>
 </div>
 
 <mat-menu #options="matMenu" x-position="before">
    <button mat-menu-item>
       <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
       <mat-icon>more</mat-icon> View More </button>
    <button mat-menu-item>
       <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
       <mat-icon>exit_to_app</mat-icon> Remove Panel </button>
 </mat-menu>