/*========|Session Pages|=========*/
.gene-login{
   background-image:url("assets/img/loginbackground.jpg");
}

.gene-forgot{
    
}
.gene-lockscreen{
   
}
.gene-login,-form,.gene-forgot,.gene-lockscreen,.gene-lockscreenV2,.gene-forgotpassV2{
   background-size:cover;
   background-repeat:no-repeat;
   background-position:center center;
}
.gene-lockscreenV2,.gene-forgotpassV2,.gene-session{
   min-height: 100vh;
}
.gene-lockscreenV2,.gene-forgotpassV2{
   .material-icons{
      font-size: 1rem;
      vertical-align: text-bottom;
   }
}

.gene-lockscreenV2,.gene-forgotpassV2{
   .form-wrap-row{
      padding-top:10%;
   } 
}
.gene-forgotpassV2,.gene-lockscreenV2{
  
   .mat-card.gene-login-v2{
      overflow: visible;
      padding-top: 4.6rem;
      padding-bottom: 3.5rem;
   }
   .gene-btn-wrap{
      button{
         padding: 0;
      }
   }
   .login-logo {
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;  
   }
}
@media(max-width:599px){
   .gene-login,.gene-forgot,.gene-lockscreen,.gene-lockscreenV2,.gene-forgotpassV2{
      .mat-toolbar-row{
         height: auto;
      }
   }
}