[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    background: #1565c0;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
      font-family: 'Poppins', sans-serif;
      font-size: inherit;
      padding: 2%;
    margin-bottom: 20%;
    outline: none;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    
    &:hover {
      background-color: darken(#1565c0, 10%);
    }
    
    &.btn-1 {
      background-color: #1565c0;
      box-shadow: 0 6px darken(#1565c0, 10%);
      transition: none;
  
      &:hover {
        box-shadow: 0 4px darken(#1565c0, 10%);
        top: 2px;
      }
    }
    
}