
       .body{
        height: 85%;
    }

    .header{
        height: 15%;
        background-image: url('assets/img/header.png');
        background-size: cover;
        background-attachment: fixed;

      
    }
 .gene-login-wrapper {
   
   margin-top:10%;
   opacity: 0.95;
   background-color: #02b371;
    .login-logo {
        margin-bottom: 2rem;
        img {
            margin-bottom: 2rem;
        }
    }
    button {
        margin: 1rem 0;
    }
}

.news
{
    margin-top:30%;
    padding:5%;
    opacity: 0.78;
    width: 100%; 
  height: 100%; 
}

.justify-content {
    justify-content: center;
}

#logo
{
    width: 25%;
    margin: auto;
}

.login-logo {
    margin-top: 2%;
    text-align: center;
    align-content: center;
    align-items: center;
    text-align-last: center;
}
h3{
    margin-top:5%;
}

input {
 font-size: medium;;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    font-size: 1.25rem !important;
    margin-left: 2%;
}

.login
{
    background-color: white;
    color: grey;
    width: 25%;
    padding: 15%;
    justify-self: center;
    align-self: center;
    box-shadow: none;
    border:none;
}

.login:hover{
    opacity: 0.8;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

tr , td  , th
{
    text-align: center !important;
}

th , button , thead{
   
    font-size: medium;
    font-family: 'Cairo', sans-serif;
}

#title1{
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px black;
  color:#21ace3;;

}
h1{
    color: #216c46;
    font-family: 'Tajawal', sans-serif;
    padding: 2%;;
}
#title2
{
   font-family: 'Tajawal', sans-serif;
  font-size: 50px;
  opacity: 0.2;
  color:white;;


}
#title3
{
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    margin-top: 5%;
    text-shadow: 1px 1px black;
    color:white;;
}
   
#comeback
       {
           width:10%;
           padding-top: 2%;
       }

h6{
    font-family: 'Tajawal', sans-serif;
    color: whitesmoke;
}
.body
{
    background-image: url('assets/img/loginbackground.jpg');
    background-attachment: fixed;
     background-size: cover;
     background-position: center;
    background-repeat: no-repeat;
}


input {
    width: 75%;
    justify-self: center;
    align-self: center;
    outline: none;
    padding: 3% 10%;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
  }

  h5{
      align-self: center;
      justify-self:center;
      color: black;
      text-align: center;      
    font-family: 'Tajawal', sans-serif;
  }
  #logo {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .footimg
  {
    width:35%; align-self: flex-end; justify-content:end ;
  }
  @media screen and (max-width: 600px) {
    #title2  {
      visibility: hidden;
      clear: both;
      float: left;
       width: 28%;
      display: none;
    }
    .footimg{
        justify-self: center;
        align-self: center;
        width: 60%;
       padding-bottom: 2%;
    }
    #title1 {
       font-size: xx-large;
       align-self: center;
       justify-self: center;
       margin: 0;
       padding: 0;
      }
      #title3{
      
       text-align: center;
       margin: 0;
       padding: 0;
       }
       .header
       {
         height: 30%;
         margin: 0;
        padding: 0;
        background-image: url('assets/img/header.png');
        background-size: cover;
        background-attachment: fixed;
        
       }
      

       .body{
           height: 70%;
       }

       #comeback
       {
           width:20%;
           padding-top: 0;
       }
  }


  