<mat-card dir="rtl" style="text-align:center;" >
    <div class="gene-card-title">
       <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="start center">
             <h3>{{'Add Building'|translate}}</h3>
          </div>
          <span fxFlex></span>
       </div>
       <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
          <form #form="ngForm">
                <div fxLayout="column">
                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                      <!--Building Location-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                         <mat-form-field class="full-wid mrgn-b-lg">
                            <input matInput formControlName="buildinglocation"
                            placeholder="{{'Building Location'|translate}}" type="text" required>   
                         </mat-form-field>
                      </div>

                       <!--Building Type-->
                       <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg">
                            <mat-label>{{'Building Type'|translate}}</mat-label>
                            <mat-select>
                                    <mat-option value="Global">{{'Global Building'|translate}} </mat-option>
                                    <mat-option value="Private">{{'Private Building'|translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                     </div>
                     <!--Building Description-->
                     <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            <mat-form-field class="full-wid mrgn-b-lg ">
                                    <mat-label>{{'Building Description'|translate}}</mat-label>
                                    <textarea matInput 
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="5"></textarea>
                                  </mat-form-field>
                     </div>
                   <!--Municipal-->
                   <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg">
                            <mat-label>{{'Municipal'|translate}}</mat-label>
                            <mat-select>
                                   <mat-option></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!--Neighborhood Name-->
                   <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg">
                            <mat-label>{{'Neighborhood Name'|translate}}</mat-label>
                            <mat-select>
                                   <mat-option></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!--Building Compnents-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            <mat-label fxLayoutAlign="start" >* {{'Building Component'|translate}}</mat-label>
                            <br> 
                            <mat-form-field class="full-wid mrgn-b-lg">
                            <input matInput formControlName="buildinglocation"
                            placeholder="{{'Building Number'|translate}}" type="number" required>   
                            </mat-form-field>
                            <mat-form-field class="full-wid mrgn-b-lg">

                            <input matInput formControlName="buildinglocation"
                            placeholder="{{'Floor Number'|translate}}" type="number" required> 
                            </mat-form-field>  

                            <mat-form-field class="full-wid mrgn-b-lg">
                            <input matInput formControlName="buildinglocation"
                            placeholder="{{'Department Number'|translate}}" type="number" required> 
                            </mat-form-field>  

                            
                            <mat-form-field class="full-wid mrgn-b-lg">
                            <input matInput formControlName="buildinglocation"
                            placeholder="{{'Department ID'|translate}}" type="number" required> 
                            </mat-form-field>  
                       
                  
                   </div>
                   </div>
                   <div fxLayout="row" fxLayoutAlign="center">
                         <button mat-button mat-raised-button color="accent" type="submit" (click)="addtotable()">{{'Add Building'|translate }}</button>
                       </div>
                </div>
             </form>
             <br>
             <br>
             <div class="table-responsive" id="dvPdf">
                    <table class="table table-hover table-middle th-fw-light mb-0">
                       <thead>
                          <tr>
                             <th>{{'Building Location'|translate}}</th>
                             <th>{{'Building Type'|translate}}</th>
                             <th>{{'Building Description'|translate}}</th>
                             <th>{{'Municipal'|translate}}</th>
                             <th>{{'Neighborhood Name'|translate}}</th>
                             <th>{{'Building Component'|translate}}</th>
                             <th>{{'Controls'|translate}}</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
                 <div fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-button mat-raised-button color="accent" type="submit">{{'Add'|translate }}</button>
                        <button mat-button mat-raised-button color="warn" (click)="dialogRef.close()"  type="button" dir="ltr">{{'Cancel'|translate }}</button>
                        
                  </div>
    </div>
 </mat-card>