<mat-card   fxFlex.md="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100"  class="pad-b-xd " >    
  <div fxLayout="row" class="gene-card-title">
          <div fxLayoutAlign="start center">
             <div fxLayout="column"   fxLayoutAlign="start center">
                <h3>{{'PROJECT DETAIL'|translate}}</h3>
             </div>
             <span fxFlex></span>
          </div>
          <mat-divider></mat-divider>
       </div>
 <mat-list role="list">
    
    <!--Contract Number-->
    <mat-list-item role="listitem">
       <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="listing-title">
             <h5 class="font-normal">{{'Contract Number' | translate}} </h5>
          </div>
          <div class="listing-detail">
             <h5></h5>
          </div>
       </div>
       <mat-divider></mat-divider>
    </mat-list-item>
    
    <!--Project Number-->
    <mat-list-item role="listitem">
       <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="listing-title">
             <h5 class="font-normal">{{'Project Number'|translate}}</h5>
          </div>
          <div class="listing-detail">
             <h5></h5>
          </div>
       </div>
       <mat-divider></mat-divider>
    </mat-list-item>
     
       <!--Project Name-->
   
    <mat-list-item role="listitem">
       <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="listing-title">
             <h5 class="font-normal">{{ 'Project Name' | translate}} </h5>
          </div>
          <div class="listing-detail">
             <h5></h5>
          </div>
       </div>
       <mat-divider></mat-divider>
    </mat-list-item>
     
       <!--Consultant Name-->
   
    <mat-list-item role="listitem">
       <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="listing-title">
             <h5 class="font-normal">{{'Consultant Name' | translate}} </h5>
          </div>
          <div class="listing-detail">
             <h5></h5>
          </div>
       </div>
       <mat-divider></mat-divider>
    </mat-list-item>
     
       <!--Contructor Name-->
 
    <mat-list-item role="listitem">
       <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div class="listing-title">
             <h5 class="font-normal">{{'Contructor Name' | translate}} </h5>
          </div>
          <div class="listing-detail">
             <h5></h5>
          </div>
       </div>
  
       <mat-divider></mat-divider>
    </mat-list-item>

           <!--Contract Amount after Discount-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Contract Amount after Discount' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

             <!--Amount of Available Works-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Amount of Available Works' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

                     <!--Project Start Date-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Project Start Date' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>
       
                       <!--Time Amount of Contract Project-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Time Amount of Contract Project' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>
       
                          <!--Approved time extension-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Approved time extension' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

    <!--The extension is under approval-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'The extension is under approval' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

       
    <!--Expiry date of the contractual project-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Expiry date of the contractual project' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

             
    <!--Project completion date after approved time extension-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Project completion date after approved time extension' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

       
             
    <!--The remaining project duration-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'The remaining project duration' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>
         
             
             
    <!--Elapsed duration ratio-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Elapsed duration ratio' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

                 
    <!--Actual completion rate-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Actual completion rate' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

                
    <!--Percentage of work accomplished-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Percentage of work accomplished' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>


                    
    <!--Percentage of completion according to approved extracts-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Percentage of completion according to approved extracts' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>


                          
    <!--Actual completion rate planned by main time schedule-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Actual completion rate planned by main time schedule' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

      
                          
    <!--Actual completion rate planned according to the updated schedule-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Actual completion rate planned according to the updated schedule' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>


                            
    <!--Expected additional business value-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Expected additional business value' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

       
                            
    <!--Projected cost of contract at project completion-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Projected cost of contract at project completion' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>

                                 
    <!--Overrun value in contract value-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Overrun value in contract value' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>


                                         
    <!--Savings-->
    <mat-list-item role="listitem">
          <div class="project-details-listing full-wid" fxLayout="row wrap" fxLayoutAlign="space-between center">
             <div class="listing-title">
                <h5 class="font-normal">{{'Savings' | translate}} </h5>
             </div>
             <div class="listing-detail">
                <h5></h5>
             </div>
          </div>
          <mat-divider></mat-divider>
       </mat-list-item>


 </mat-list>  
</mat-card>

