
<mat-card >
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column" fxLayoutAlign="start center">
                 <h3>{{'Completion Rate'|translate}}</h3>
              </div>
              <span fxFlex></span>
           </div>
           <mat-divider></mat-divider>
        </div>
<div fxLayout="row wrap" fxLayoutAlign="center stretch">
        <div fxFlex="100%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.gt-md>
            <mat-card class="card-full-width row">
                <ms-pie-chart [data]="pieChartDemoData" title="Completion Rate" textColor="#222328"></ms-pie-chart>
                
         </mat-card>
        </div>
</div>
</mat-card>

<!--Seconed Part-->
<div fxLayout="row wrap"  fxLayoutAlign="center">
    <!--Project Details-->
  
             <ms-projectdetails></ms-projectdetails>      
   
 
    
              <ms-rfistatus></ms-rfistatus>
</div>
   

  
<!--Third Part-->
<mat-card>
      <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
               <div fxLayout="column" fxLayoutAlign="start center">
                  <h3>{{'Contructor Extracts'|translate}}</h3>
               </div>
               <span fxFlex></span>
            </div>
            <mat-divider></mat-divider>
         </div>
 <div fxLayout="row wrap" fxLayoutAlign="center stretch">
         <div fxFlex="100%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.gt-md>
             <mat-card class="card-full-width row">
                  <ms-extracts></ms-extracts>
            </mat-card>
         </div>
 </div>
  
</mat-card>

<!--Fourth Part-->
<mat-card>
      <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="start center">
               <div fxLayout="column" fxLayoutAlign="start center">
                  <h3>{{'Chart'|translate}}</h3>
               </div>
               <span fxFlex></span>
            </div>
            <mat-divider></mat-divider>
         </div>
 <div fxLayout="row wrap" fxLayoutAlign="center stretch">
         <div fxFlex="100%" fxFlex.md="40" fxFlex.sm="100%" fxFlex.gt-md>
             <mat-card class="card-full-width card-full-height row">
                  <ms-full-width-graph [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels" [lineChartOptions]="lineChartOptions" [lineChartColors]="lineChartColors" [lineChartLegend]="lineChartLegend" [lineChartType]="lineChartType"></ms-full-width-graph>

            </mat-card>
         </div>
 </div>
  
</mat-card>

