
<div class="gene-card-content pad-t-none">
        <div class="table-responsive">
           <table class="table table-hover table-middle th-fw-light mb-0">
              <thead>
                 <tr>
                        <th>{{'Id'|translate}}</th>
                    <th>{{'Extract Number'|translate}}</th>
                    <th>{{'Extract Name'|translate}}</th>
                    <th>{{'Total before tax'|translate}}</th>
                    <th>{{'Total after tax'|translate}}</th>
                    
                 </tr>
              </thead>
              <tbody>
                 <tr>
               
                  <td></td>
                  <td></td>
                  <td></td>
                   <td></td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
     
     