<mat-card dir="rtl">
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column" fxLayoutAlign="start center">
                 <h3>{{'Add Request'|translate}}</h3>
              </div>
              <span fxFlex></span>
           </div>
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content">
              <form #form="ngForm">
                    <div fxLayout="column">
                       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                          <!--Request Type-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                             <mat-form-field class="full-wid mrgn-b-lg">
                                   <mat-label>{{'Request Type'|translate}}</mat-label>
                                   <mat-select name="typename" [(ngModel)]="typename">
                                      <div *ngFor="let type of types">
                                         <mat-option  (click)="request(type.sequence)" value={{type.id}} >
                                            {{type.type}}
                                         </mat-option>
                                      </div>
                                   </mat-select>
                             </mat-form-field>
                          </div>
                          <!--Request Number-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                 <mat-form-field class="full-wid mrgn-b-lg ">
                                 <input matInput name="req_number" [(ngModel)]="req_number" 
                                 placeholder="{{'Request Number'|translate}}" type="text" disabled required>    
                              </mat-form-field> 
                              
                         </div>

                      <!--Location of Work-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-label>{{'Location of Works'|translate}}</mat-label>
                              <mat-select name="work_id" [(ngModel)]="work_id">
                                 <mat-option value="B1">{{'Build' | translate}} 1</mat-option>
                                 <mat-option value="B2">{{'Build' | translate}} 2</mat-option>
                                 <mat-option value="B3">{{'Build' | translate}} 3</mat-option>
                              </mat-select>
                        </mat-form-field>
                     </div>
                  
                  <!--Start Session-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                              <mat-form-field class="full-wid mrgn-b-lg ">
                                 <input matInput 
                                 name="start_work"  [(ngModel)]="start_work"
                                 [min]="minDate" [max]="maxDate" [matDatepicker]="startwork"
                                  placeholder="{{'Start Date of Works'|translate}}">
                                 <mat-datepicker-toggle matSuffix [for]="startwork"></mat-datepicker-toggle>
                                 <mat-datepicker #startwork></mat-datepicker>                         
                              </mat-form-field>
                       </div>

                        <!--Start Session-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                           <mat-form-field class="full-wid mrgn-b-lg ">
                              <input matInput 
                              name="end_work"  [(ngModel)]="end_work" 
                              [min]="minDate" [max]="maxDate" [matDatepicker]="endwork"
                               placeholder="{{'End Date of Works'|translate}}">
                              <mat-datepicker-toggle matSuffix [for]="endwork"></mat-datepicker-toggle>
                              <mat-datepicker #endwork></mat-datepicker>                         
                           </mat-form-field>
                    </div>
                         
                     <!--Inspection Date-->
                     <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg ">
                           <input matInput 
                           name="insepction_date"  [(ngModel)]="insepction_date"
                           [min]="minDate" [max]="maxDate" [matDatepicker]="insepctiondate"
                            placeholder="{{'Inspection Date'|translate}}">
                           <mat-datepicker-toggle matSuffix [for]="insepctiondate"></mat-datepicker-toggle>
                           <mat-datepicker #insepctiondate></mat-datepicker>                         
                        </mat-form-field>
                    </div>

                    
                 <!--Item Information-->
                    <mat-card  class="full-wid mrgn-b-lg ">
                        <mat-label>{{'Items'|translate}}</mat-label>
                        <div class="gene-card-content">
                          
                                    <div fxLayout="column">
                                       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    
                     <div fxFlex.gt-sm="32" fxFlex.gt-xs="100" fxFlex="32" fxFlex.gt-md="32">
                     <mat-form-field class="full-wid mrgn-b-lg ">
                          
                        <mat-label>{{'Item Number'|translate}}</mat-label>
                        <mat-select name="item_number" [(ngModel)]="item_number">
                         <div *ngFor="let data of quantitys">
                          <div *ngIf="data.first_subsection_id == typename">  
                           <mat-option  value={{data.item_number}} (click)="BindItemname(data.item_name)">
                               {{data.item_number}}
                          </mat-option>
                        </div>
                        </div>
                        </mat-select>   
                     </mat-form-field>
                     </div>
                     <div fxFlex.gt-sm="32" fxFlex.gt-xs="100" fxFlex="32" fxFlex.gt-md="32" style="margin-right: 2%;">
                        <mat-form-field class="full-wid mrgn-b-lg ">
                             
                           <mat-label>{{'Item Name'|translate}}</mat-label>
                           <mat-select name="item_name" [(ngModel)]="item_name">
                                 <div *ngFor="let data of quantitys">
                                       <div *ngIf="data.first_subsection_id == typename">  
                                        <mat-option  value={{data.item_name}} (click)="BindItemnumber(data.item_number)">
                                            {{data.item_name}}                                      
                                     </mat-option>
                             </div>
                             </div>
                           </mat-select>   
                        </mat-form-field>
                        </div>
                            <!--Executed Quantity-->
                            <div fxFlex.gt-sm="32" fxFlex.gt-xs="100" fxFlex="32" fxFlex.gt-md="32" style="margin-right: 2%; margin-top:0.5%;">
                              <mat-form-field class="full-wid mrgn-b-lg ">
                                   
                                    <input matInput name="qty" [(ngModel)]="qty"
                                    placeholder="{{'Executed Quantity'|translate}}" type="number" required>       
                              </mat-form-field>
                       </div>
                  </div>
                 </div>
                </div>
              <div fxLayout="row" fxLayoutAlign="center">
                  <button mat-button mat-raised-button color="accent" (click)="addItem()" fxLayoutAlign="center" type="button">{{'Add Item'|translate }}</button>
             </div> 
         </mat-card>
         <!--Table of Added Items-->
         <mat-card  class="full-wid mrgn-b-lg ">
               <mat-label>{{'Added Items'|translate}}</mat-label>
               <div class="gene-card-content">
                  <div fxLayout="column">
                     <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                           <div class="table-responsive" id="dvPdf">
           
                                 <table class="table table-hover table-middle th-fw-light mb-0">
                                    <thead>
                                       <tr>
                                          <th>{{'Item Number'|translate}}</th>
                                          <th>{{'Item Name'|translate}}</th>
                                          <th>{{'Executed Quantity'|translate}}</th>
                                          <th>{{'Controls'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor="let item of itemDate; let i = index" >
                                          <td>{{item.num}}</td>
                                          <td>{{item.name}}</td>
                                          <td>{{item.qty}}</td>
                                          <td><mat-icon (click)="removeitem(i)" matTooltip="{{'Delete' | translate}}">delete</mat-icon></td>
                                        </tr>
                                    </tbody>
                                 </table>
                              </div>

               </div>
                  </div>
                     </div>     
         </mat-card>
   
      </div>
                    
                       <div fxLayout="row" fxLayoutAlign="space-between">
                             <button mat-button mat-raised-button color="accent" (click)="Save()" type="submit">{{'Add'|translate }}</button>
                             <button mat-button mat-raised-button color="warn" (click)="dialogRef.close()"  type="button" dir="ltr">{{'Cancel'|translate }}</button>
                             
                       </div>
                    </div>
                 </form>
        </div>
     </mat-card>